*::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

*::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #aaa; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: #eee;  /*스크롤바 뒷 배경 색상*/
}

/* util */
.fdk-font-xs { 	font-size: 8pt; }
.fdk-btn-xs { padding: 2px 4px; }
.d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.table td {
	padding: 2px 4px;
}

body {
	min-width: 300px;
	user-select: none;
}

/* style */
.fdk-popup-logo { 
	margin: 0 10px;
	width: 30px;
	height: 30px;
}
.fdk-thead-logo { 
	height: 30px;
	padding: 0 0 5px 0;
}
.fdk-popup-section {
	min-width: 300px;
}
.fdk-popup-detail-wrap {
	border: 1px solid lavender;
	border-radius: 4px;
	margin: 4px 0;
	padding: 4px 8px;
	user-select: none;
}
.fdk-popup-detail-wrap > summary{
	cursor: pointer;
}
.fdk-popup-detail-wrap:hover {
	background-color: var(--bs-indigo);
	color: white;
}
.fdk-popup-detail-wrap[open]:hover {
	background-color: initial;
	cursor: inherit;
	color: initial;
}
.fdk-popup-detail-wrap[open] > summary{
	margin-bottom: 10px;
}
.fdk-popup-server-toggle > label,input {
	cursor: pointer;
}
.fdk-popup-server-toggle:hover {
	font-weight: bold;
	color: var(--bs-indigo);
}

/* button */
.fdk-flow-btn {
	background-color: #6449fc !important;
	color: white !important;
	border-color: transparent;
}

.fdk-flow-btn:hover {
	background-color: #593ef1 !important;
}

.fdk-flow-btn:active {
	background-color: #5239e4 !important;
}

.fdk-dropdown-size {
	height: 100px;
	overflow: hidden auto;
}

.fdk-favorite-list {
	height: 200px;
	overflow: hidden auto;
	font-size: 8pt;
	font-weight: bold;
}

.swal2-modal {
    scale: 0.7;
}